.loginContainer {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--background-color);
}

.generalContainer {
    width: 80%;
    /* padding: 40px; */
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--background-color);
}

@media (max-width: 768px) {
    .generalContainer {
        width: 100%;
    }
}